DATABASE_URL=
PORT=5000
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
JWT_SECRET=
RAZORPAY_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_ID=
GROQ_API_KEY=
Name=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
NODE_ENV=
ALLOWED_ORIGINS=
RAZORPAY_WEBHOOK_SECRET=
BREVO_API_KEY=
BREVO_SENDER_EMAIL=medssevalab2026@gmail.com
BREVO_SENDER_NAME=MedsSeva