DATABASE_URL=
PORT=5000
RAZORPAY_KEY_ID="rzp_live_TGRBCO7CXc0z8d"
RAZORPAY_KEY_SECRET="YB4ASmrfuml9tehcTxgcYELZ"
JWT_SECRET=
RAZORPAY_WEBHOOK_SECRET=7f276f58f844bb8e2df24f058b5456d9b75f3435722b2702886e34ab6c86eec9
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=Tn-
GROQ_API_KEY=
Name=
FIREBASE_PROJECT_ID=
NODE_ENV=production
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

BREVO_API_KEY=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
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=